<div class="row">
	<div class="span3">
		<div class="well">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-shopping-cart"></i>
							{{car.length}}  item - $ {{total}}
					<b class="caret"></b></a>
				</a>
				<div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
							<div ng-repeat="product in car">
								<a href="#/detail/{{product.id}}">{{product.name}} 
									<br>
									{{product.cantidad}} x $ {{product.price}}
									<br>
									<span class="pull-right"> Import $ {{product.importe}}
									</span>
								</a>
								<hr>
							</div>
							
							<a href="#" class="btn btn-success">Checkout Total: {{total}}</a>

				</div>
			</div>
		</div>

		<div class="well">
			<ul class="nav nav-list">
				<li class="nav-header">Special Offer</li>
				<li class="active">
					<a href="#/detail/{{specialOffer.productId}}">{{specialOffer.title}}</a>
				</li>
				

				<li class="nav-header">Offer</li>

				<li ng-repeat="offer in offers">
					<a href="#/detail/{{offer.id}}">{{offer.name}} $ {{offer.price}}</a>
				</li>
								
			</ul>
		</div>

		<div class="well">
					<form class="form login-form">
						<h2>Sign in</h2>
						<div>
							<label>Username</label>
							<input id="Username" name="Username" type="text" />

							<label>Password</label>
							<input id="Password" name="Password" type="password" />

							<label class="checkbox inline">
								<input type="checkbox" id="RememberMe" value="option1"> Remember me
							</label>

							<br /><br />

							<button type="submit" class="btn btn-success">Login</button>
						</div>
						<br />
						<a href="#">register</a>&nbsp;&#124;&nbsp;<a href="#">forgot password?</a>
					</form>
		</div>

	</div>



			<div class="span9">
				<h2>Shopping Cart</h2>
				<form>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Item Name</th>
							<th>Qty</th>
							<th>Unit Price</th>
							<th>Total</th>
							<th>Trash ?</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="product in car">
							<td>{{product.name}}</td>
							<td>
								<input id="quantity-1" name="quantity-1" type="text" class="span1" ng-model="product.cantidad" ng-change="upDateToCar(product)" />&nbsp;
							
								<a href="#">
									<i class="icon-trash"></i>
								</a>
							</td>
							<td>$ {{product.price}}</td>
							<td>$ {{product.importe}}</td>
							<td>
								<a ng-click="delFromCar(product)">
									<i class="icon-trash"></i>
								</a>
							</td>
						</tr>
						<!--
							<tr>
							<td>AC34423</td>
							<td><input id="quantity-1" name="quantity-1" type="text" class="span1" value="2" />&nbsp;<a href="#"><i class="icon-refresh"></i></a><a href="#"><i class="icon-trash"></i></a></td>
							<td>$333.33</td>
							<td>$666.66</td>
							<td><a href="#">
								<i class="icon-trash"></i>
							</a>
							</td>
							</tr>
						-->
					</tbody>
				</table>
			</form>
<hr>
<h3>Next Step</h3>
			<dl class="dl-horizontal pull-right">
				<!-- 
				<dt>Sub-total:</dt>
				<dd>$999.99</dd>
				
				<dt>Shipping Cost:</dt>
				<dd>$0.01</dd>
				-->
				<dt><h2>Total:</h2></dt>
				<dd><h2>$ {{total}}</h2></dd>
			</dl>
			<div class="clearfix"></div>
			<a href="#" class="btn btn-success pull-right">Check out</a>
			<a href="#" class="btn btn-primary">Continue Shopping</a>
<hr>
			
		</div>


<!--
	<div class="span9">
				<div class="row">
					<div class="span5">
						<div id="items-carousel" class="carousel slide mbottom0">
							<div class="carousel-inner">
								<div class="active item">
									<img class="media-object" src="{{detail.img}}" alt="" />
								</div>

								<div class="item">
									<img class="media-object" src="https://s3-eu-west-1.amazonaws.com/files.youmagine.com/uploads/image/file/45624/medium_keychain.jpg" alt="" />
								</div>

								<div class="item">
									<img class="media-object" src="http://ng-guide.com/angularjs-talk/images/angularjs/square-new.png" alt="" />
								</div>
							</div>
							
						</div>
					</div>

					<div class="span4">
						<h4>{{detail.name}} Modelo X</h4>
						<h5>Modelo X</h5>
						<p>{{detail.decri}}</p>
						<h4>Precio: $ {{detail.price}}</h4>

						<h5>Options</h5>
						<form>
							
							<label>
								<input type="text" id="quantity" name="quantity" value="1" class="span1" ng-model="detail.cantidad" />&nbsp;Qty
							</label>
							<button class="btn btn-primary" ng-click="addToCar(detail)">Add to Chart</button>
						</form>
						
					</div>
				</div>

				<hr>
				
	</div>
-->



</div>

